<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>IntelliQuiz</title>
    <link rel="icon" type="image/svg+xml" href="/static/favicon/intelliquiz-favicon.svg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<div class="container start">
    <h1>Welcome to IntelliQuiz</h1>
    <p>Login or Signup to start.</p>
    
    <div class="welcome-buttons">
        <a class="primary" href="/login">Login</a>
        <a class="primary" href="/signup">Signup</a>
    </div>
    
</div>
</body>

</html>
